{% extends "base.html" %}

{% block title %}SIGN UP-ORLE{% endblock %}

{% block content %}

<div class="form-wrapper">
    <div class="form-card">
        <p>ALREADY A BUYER? <a href="{{ url_for('login') }}">SIGN IN</a></p>

        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="Your Name" id="Name" required>
            <input type="tel" name="phone_number" placeholder="Your Phone Number" id="Phone_Number">
            <input type="email" name="email" placeholder="name@domain.com" id="Email" required autocomplete="email">
            <input type="password" name="password" placeholder="•••••••••" id="Password" required>
            <input type="password" name="confirm_password" placeholder="•••••••••" id="Confirm_Password" required>
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</div>

{% endblock %}